body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  /* border: 10px solid #ff0022; */

}

code {
  font-family: monospace;
}
